<div *ngFor="let events of events">
  <div class="row">
      <div class="panel panel-default">
          <div class="panel-body">
  <div class="col-md-3">
  <img class="img-thumbnail github-avatar" src="{{events.eventImage}}">
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">{{events.eventName}}</li>
      <li class="list-group-item">{{events.eventDesc}}</li>
      <li class="list-group-item">{{events.fromDate}}  to  {{events.toDate}}</li>
    </ul>
  </div>
  <br>
  <br><br>
  </div>
  </div>  
  </div> 
  </div>