<div class="row"> 
  <div class="col-md-2">
                  <div class="vertical-menu">
                      <div>
                        <img src="assets/img/event.png">
                        <img class="pic" src="assets/img/updated.png">
                        <a routerLink="/upcomming" routerLinkActive="active">
                          <span class="material-icons">event_available</span><span>Upcomming Events</span></a>
                          <a routerLink="/categories" routerLinkActive="active">
                             <span class="material-icons">event_available</span><span>New Events</span></a>
                             <a routerLink="/login" routerLinkActive="active"><span class="material-icons">create</span><span>Edit Details</span></a>
                             <a><span class="material-icons">equalizer</span><span>Analytics</span></a>
                             <a><span class="material-icons">settings</span><span>settings</span></a>
                             <a routerLink="/users" routerLinkActive="active"><span class="material-icons">perm_identity</span><span>Users</span></a>
                             <a><span class="material-icons">mail</span><span>eMail</span></a>
                             <a><span class="material-icons">power_settings_new</span><span>Logout</span></a>
                      </div>
  </div></div>
  <div class="col-md-10 display">
          <router-outlet></router-outlet>
  </div>
</div>


