#logo{
float: right;
background-color: rgb(230, 230, 230)
}
.header{
    color: red;
}
.head,{
    margin:0px 50px 20px 40px;
}
.bg{
    background-color:  rgb(247, 247, 247);
    height: 650px;
}
#field{
    background-color: white;
}
#from,#to{
    width: 342px;
}
input[type=date], select {
    padding: 6px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.mail{
width:680px;
height:165px;
margin:10px 10px 10px 10px;
border: 1px solid #ccc;
border-radius: 4px;

}
label{
    padding-top: 30px;
    margin-left: 15px;
}
.footer{
    margin-top: 30px;
    background-color: white;
    width:1040px;
    height:250px;
}
.submit{
    padding:10px 10px 10px 10px;
    margin:20px 0px 20px 20px;
    background-color: black;
    color: white;
}
.first,.mail{
    margin:30px 10px 10px 10px;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}